<ar-layout>
  <ar-simple-layout [arBsBgContext]="context">
    <ng-container header>
      <ar-nav-bar [arBsContext]="defaultContext" arBsSize="sm" [arBsBgContext]="defaultContext">
        <ng-container navbar-brand>
          <ar-inner-link url="/">
            <ar-icon name="angular" [arBsContext]="iconContext" arBsSize="lg"></ar-icon>
            <span>Argon Playground</span>
          </ar-inner-link>
        </ng-container>
        <ng-container form-inline>
          <ar-dropdown-menu>
            <ng-container title>Change Context</ng-container>
            <ar-dropdown-menu-item (click)="context='dark'">
              <ar-icon name="arrange-bring-forward" arBsContext="dark"></ar-icon> Dark
            </ar-dropdown-menu-item>
            <ar-dropdown-menu-item (click)="context='light'">
              <ar-icon name="arrange-bring-forward" arBsContext="light"></ar-icon> Light
            </ar-dropdown-menu-item>
            <ar-dropdown-menu-item (click)="context=''">
              <ar-icon name="arrange-bring-forward" arBsContext="default"></ar-icon> Default
            </ar-dropdown-menu-item>
          </ar-dropdown-menu>
        </ng-container>
        <ar-bs-group bsSize="sm">
          <ar-nav-bar-nav>
            <ar-nav-bar-nav-dropdown-item *ngFor="let module of menu" #dropdown>
              <ng-container title>{{module.title}}</ng-container>
              <div arScrollable="50vh">
                <ng-container *ngFor="let item of module.children">
                  <ar-dropdown-menu-item *ngIf="item.url" [arBsContext]="item.bsContext">
                    <ar-inner-link [url]="item.url" (click)="dropdown.close()">
                      <del *ngIf="item.deprecated">
                        {{item.title}}
                      </del>
                      <ng-container *ngIf="!item.deprecated">
                        {{item.title}}
                      </ng-container>
                    </ar-inner-link>
                  </ar-dropdown-menu-item>
                  <ar-dropdown-divider *ngIf="!item.url">
                    {{item.title}}
                  </ar-dropdown-divider>
                </ng-container>
              </div>
            </ar-nav-bar-nav-dropdown-item>
          </ar-nav-bar-nav>
        </ar-bs-group>
      </ar-nav-bar>
    </ng-container>
    <router-outlet></router-outlet>
    <ng-container footer>
      <div class="footer" [arBsBgContext]="defaultContext" arTextAlign="center">Argon Playground</div>
    </ng-container>
  </ar-simple-layout>
</ar-layout>
