<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="Simple Alert">
    <ar-button arBsContext="primary" (click)="showAlert('Alert message')">Show Simple Alert</ar-button>
  </ar-block>

  <ar-block title="Alert from template">
    <ar-button arBsContext="primary" (click)="showAlertFromTemplate(alertTemplate, { customValue: 'Alert value' })">
      Show Alert from template
    </ar-button>
    <ng-template #alertTemplate let-context>
      <strong>Alert</strong> from template!
      <ar-inner-link url="/" [isAlert]="true">Alert link!</ar-inner-link>
      <div>Custom context: <pre>{{ context | json }}</pre></div>
    </ng-template>
  </ar-block>

  <ar-block title="Inline Alert" arBsSize="sm">
    <ar-bs-group bsContext="danger">
      <ar-alert [closeable]="false" arBsContext="success">
        <ar-alert-heading>Alert Heading</ar-alert-heading>
        <ar-lorem-ipsum [length]="500"></ar-lorem-ipsum>
        <hr />
        <ar-lorem-ipsum [length]="500"></ar-lorem-ipsum>
        <p>Text with <ar-inner-link url="/">Alert link!</ar-inner-link></p>
      </ar-alert>
    </ar-bs-group>
  </ar-block>

  <pg-source-code [source]="componentImplementation" lang="typescript"></pg-source-code>
</pg-example>
