<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Switchable Cells">
    <ar-table>
      <ng-container table-controls>
        <ar-bs-group bsSize="lg">
          <ar-table-col-picker></ar-table-col-picker>
        </ar-bs-group>
      </ng-container>
      <ng-container header>
        <th arTableSwitchableCell="header1" arTableSwitchableCellTitle="Switchable column 1" [arTableSwitchableCellHidden]="true">
          Header 1
        </th>
        <th arTableSwitchableCell="header2" arTableSwitchableCellTitle="Switchable column 2">
          Header 2
        </th>
        <th arTableSwitchableCell="header3" arTableSwitchableCellTitle="Switchable column 3">
          Header 3
        </th>
        <th arTableSwitchableCell="header4" arTableSwitchableCellTitle="Switchable column 4">
          Header 4
        </th>
      </ng-container>
      <tbody>
      <tr>
        <td arTableSwitchableCell="header1">Cell 1</td>
        <td arTableSwitchableCell="header2">Cell 2</td>
        <td arTableSwitchableCell="header3">Cell 3</td>
        <td arTableSwitchableCell="header4">Cell 4</td>
      </tr>
      <tr>
        <td arTableSwitchableCell="header1">Cell 1</td>
        <td arTableSwitchableCell="header2">Cell 2</td>
        <td arTableSwitchableCell="header3">Cell 3</td>
        <td arTableSwitchableCell="header4">Cell 4</td>
      </tr>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Table Filter">
    <ar-table>
      <ng-container table-controls>
        <ar-bs-group bsSize="lg">
          <ar-table-filter #table2Filter>
            Table Filter Content
            <ar-button arBsContext="dark" arBsSize="sm" (click)="table2Filter.close()">Trigger Filter Close Event</ar-button>
          </ar-table-filter>
        </ar-bs-group>
      </ng-container>
      <ng-container header>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
      </ng-container>
      <tbody>
        <tr arRowContext="primary">
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
        </tr>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Combine Actions">
    <ar-table>

      <ng-container table-controls>
        <ar-bs-group bsSize="xl" bsContext="secondary">
          <ar-table-action-group>
            <ar-table-col-picker></ar-table-col-picker>
            <ar-table-filter></ar-table-filter>
            <ar-icon name="refresh" arBsSize arBsContext title="Custom Action Icon"></ar-icon>
          </ar-table-action-group>
        </ar-bs-group>
      </ng-container>

      <ng-container header>
        <th arTableSwitchableCell="header1" arTableSwitchableCellTitle="Header 1">Header 1</th>
        <th arTableSwitchableCell="header2" arTableSwitchableCellTitle="Header 2">Header 2</th>
        <th arTableSwitchableCell="header3" arTableSwitchableCellTitle="Header 3">Header 3</th>
        <th arTableSwitchableCell="header4" arTableSwitchableCellTitle="Header 4">Header 4</th>
      </ng-container>
      <tbody>
      <tr arRowContext="primary">
        <td arTableSwitchableCell="header1">Cell 1</td>
        <td arTableSwitchableCell="header2">Cell 2</td>
        <td arTableSwitchableCell="header3">Cell 3</td>
        <td arTableSwitchableCell="header4">Cell 4</td>
      </tr>
      </tbody>
    </ar-table>
  </ar-block>

</pg-example>
