<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Using with component:">
    <ul>
      <li>
        <ar-inner-link url="/forms/radio-group">Radio Group</ar-inner-link>
      </li>
      <li>
        <ar-inner-link url="/forms/select">Select</ar-inner-link>
      </li>
      <li>
        <ar-inner-link url="/forms/select-multiple">Select Multiple</ar-inner-link>
      </li>
      <li>
        <ar-inner-link url="/forms/autocomplete">Autocomplete</ar-inner-link>
      </li>
      <li>
        <ar-inner-link url="/forms/autocomplete-list">Autocomplete List</ar-inner-link>
      </li>

    </ul>
  </ar-block>

</pg-example>
