<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Grid">
    <ar-row>
      <ar-col arBsBgContext="success">
        Column 1
      </ar-col>
      <ar-col arBsBgContext="primary">
        Column 2
      </ar-col>
      <ar-col arBsBgContext="info">
        Column 3
      </ar-col>
    </ar-row>
    <ar-row>
      <ar-col class="col-sm-8" arBsBgContext="warning">
        Column 1
      </ar-col>
      <ar-col arBsBgContext="secondary">
        Column 2
      </ar-col>
    </ar-row>
    <ar-row>
      <ar-col class="col-md-4" arBsBgContext="success">Column 1</ar-col>
      <ar-col arBsBgContext="primary">Column 2</ar-col>
      <ar-col arBsBgContext="warning">Column 3</ar-col>
      <ar-col arBsBgContext="dark">Column 4</ar-col>
    </ar-row>
  </ar-block>

  <ar-outer-link url="https://getbootstrap.com/docs/4.0/layout/grid/">
    See Bootstrap Grid
  </ar-outer-link>
</pg-example>
