<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="BsGroup">
    <ar-bs-group bsSize="sm" bsContext="success" bsBgContext="danger" textAlign="center">
      <ar-block>
        <ar-button arBsContext arBsSize>Button</ar-button>
      </ar-block>

      <ar-block arBsBgContext arTextAlign>
        Content block
      </ar-block>
    </ar-bs-group>
  </ar-block>

  <ar-block title="Directives">
    <ar-block>
      <button class="btn" arBsContext="dark">arBsContext</button>
    </ar-block>
    <ar-block>
      <button class="btn" arBsSize="sm">arBsSize</button>
    </ar-block>
    <ar-block>
      <div arBsBgContext="info">arBsBgContext</div>
    </ar-block>
    <ar-block>
      <div arTextAlign="right">arTextAlign</div>
    </ar-block>
    <ar-block>
      <div arBsTextContext="info">arBsTextContext</div>
    </ar-block>
  </ar-block>

  <ar-block title="arBsSize Directive">
    <pg-source-code lang="typescript" [source]="bsSize | json"></pg-source-code>
  </ar-block>

  <ar-block title="arBsContext, arBsBgContext Directive">
    <pg-source-code lang="typescript" [source]="bsContext | json"></pg-source-code>
  </ar-block>

  <ar-block title="arBsTextContext Directive">
    <pg-source-code lang="typescript" [source]="bsTextContext | json"></pg-source-code>
  </ar-block>

  <ar-block title="arTextAlign Directive">
    <pg-source-code lang="typescript" [source]="bsTextAlign | json"></pg-source-code>
  </ar-block>

</pg-example>
