<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-select [options]="options" placeholder="Select Option" name="select1"></ar-select>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-select [options]="options" name="select2" [size]="3">
        Select option
      </ar-select>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-select [options]="options" [list]="['list option 1', 'list option 2', 'list option 3']" name="select3">
        Select option
      </ar-select>
    </ar-form-group>
  </ar-form>

  <ar-block title="Options">
    <pre arBsBgContext="dark">{{ options | json }}</pre>
  </ar-block>
</pg-example>
