<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Base usage">
    <ar-form id="form1" [formGroup]="form">
      <ar-form-group label="Control 1">
        <ar-input [control]="form.get('control1')"></ar-input>
      </ar-form-group>
      <ar-form-group label="Control 2">
        <ar-input [control]="form.get('control2')"></ar-input>
      </ar-form-group>
      <ar-form-group label="Control 3">
        <ar-input [control]="form.get('control3')"></ar-input>
      </ar-form-group>
    </ar-form>
  </ar-block>

  <ar-block title="Use as attribute">
    <form arForm id="form2" [inline]="true" [formGroup]="form" arBsSize="sm" arBsContext="dark">
      <ar-form-group>
        <ar-input placeholder="Control 1" [control]="form.get('control1')"></ar-input>
      </ar-form-group>
      <ar-form-group>
        <ar-input placeholder="Control 2" [control]="form.get('control2')"></ar-input>
      </ar-form-group>
      <ar-form-group>
        <ar-input placeholder="Control 3" [control]="form.get('control3')"></ar-input>
      </ar-form-group>

      <ar-button arBsContext arBsSize>Button</ar-button>
    </form>
  </ar-block>

  <ar-block title="Children context">
    <ar-form id="form3" arBsSize="lg" arBsContext="success" bgContext="success" [formGroup]="form">
      <ar-form-group label="Checkboxes">
        <ar-checkbox [control]="form.get('control1')">Control 1</ar-checkbox>
        <ar-checkbox [control]="form.get('control2')">Control 2</ar-checkbox>
        <ar-checkbox [control]="form.get('control3')">Control 3</ar-checkbox>
      </ar-form-group>
      <ar-form-group label="Control 1" [useTooltip]="false">
        <ar-input [control]="form.get('control1')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
      <ar-form-group label="Control 2" [useTooltip]="false">
        <ar-input [control]="form.get('control2')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
      <ar-form-group label="Control 3" [useTooltip]="false">
        <ar-input [control]="form.get('control3')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
      <ar-button arBsContext arBsSize>Button</ar-button>
    </ar-form>
  </ar-block>

  <ar-block title="Form Group">
    <form arForm id="form4" [formGroup]="form" arBsSize="sm">
      <ar-form-group label="Control 1" [useTooltip]="false">
        <ar-input [control]="form.get('control1')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
      <ar-form-group label="Control 2" [useTooltip]="false">
        <ar-input [control]="form.get('control2')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
      <ar-form-group label="Control 3" [useTooltip]="false">
        <ar-input [control]="form.get('control3')"></ar-input>
        <ng-container hint>Control Help text</ng-container>
      </ar-form-group>
    </form>
  </ar-block>

  <ar-block title="Form Group (With Grid)">
    <ar-form id="form5" [formGroup]="form" arBsSize="sm">
      <ar-row>
        <ar-form-group label="Control 1" [useTooltip]="false">
          <ar-input [control]="form.get('control1')"></ar-input>
          <ng-container hint>Control Help text</ng-container>
        </ar-form-group>
      </ar-row>

      <ar-row>
        <ar-form-group label="Control 2" [useTooltip]="false">
          <ar-input [control]="form.get('control2')"></ar-input>
          <ng-container hint>Control Help text</ng-container>
        </ar-form-group>
        <ar-form-group class="col-sm-2" label="Control 3" [useTooltip]="false">
          <ar-input [control]="form.get('control3')"></ar-input>
          <ng-container hint>Control Help text</ng-container>
        </ar-form-group>
      </ar-row>
    </ar-form>
  </ar-block>
</pg-example>
