<pg-example [template]="templateSource" [code]="codeSource">

  <ar-wizard arBsContext="primary" [linear]="true">

    <ar-wizard-step label="Step 1 (Form)">
      <ar-form [formGroup]="control" id="WizardForm">
        <ar-form-group label="Fake control 1">
          <ar-input [control]="control.get('c1')"></ar-input>
        </ar-form-group>
        <ar-form-group label="Fake control 2">
          <ar-input [control]="control.get('c2')"></ar-input>
        </ar-form-group>
        <ar-form-group label="Fake control 3">
          <ar-input [control]="control.get('c3')"></ar-input>
        </ar-form-group>
      </ar-form>

      <ar-button arBsContext arWizardNext>Next</ar-button>
    </ar-wizard-step>

    <ar-wizard-step label="Step 2 (Text)">
      <ar-block title="Step 2 content">
        <ar-lorem-ipsum></ar-lorem-ipsum>
      </ar-block>
      <ar-button arBsContext arWizardBack>Back</ar-button>
      <ar-button arBsContext arWizardNext>Next</ar-button>
    </ar-wizard-step>

    <ar-wizard-step label="Step 3 (Text)">
      <ar-block title="Step 3 content">
        <ar-lorem-ipsum></ar-lorem-ipsum>
      </ar-block>
      <ar-button arBsContext arWizardBack>Back</ar-button>
      <ar-button arBsContext arWizardNext>Next</ar-button>
    </ar-wizard-step>

    <ar-wizard-step label="Step 4 (Text)">
      <ar-block title="Step 4 content">
        <ar-lorem-ipsum></ar-lorem-ipsum>
      </ar-block>
      <ar-button arBsContext arWizardBack>Back</ar-button>
    </ar-wizard-step>
  </ar-wizard>
</pg-example>
