<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-file></ar-file>
    </ar-form-group>
    <ar-form-group arBsSize label="Regular">
      <ar-file placeholder="Select Image" accept="image/*"></ar-file>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-file></ar-file>
    </ar-form-group>
  </ar-form>
</pg-example>
