<pg-example [template]="templateSource" [code]="codeSource">
  <ar-table [scrollable]="true" [dark]="true" [bordered]="true">
    <ng-container header>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </ng-container>
    <tbody arScrollable="50vh" arInfinityScroll>
      <tr arRowContext="warning" *arScrollContainer="rows; let row = $implicit">
        <td>{{row?.col1}}</td>
        <td>{{row?.col2}}</td>
        <td>{{row?.col3}}</td>
      </tr>
    </tbody>
  </ar-table>
</pg-example>
