<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="Simple Modals">
    <ar-button arBsContext="primary" (click)="simpleModal.show()">Display Simple Modal</ar-button>
    <ar-button arBsContext="primary" (click)="simpleModal2.show()">Display Configurable Modal</ar-button>
  </ar-block>

  <ar-block title="Modals from templates">
    <ar-button arBsContext="primary" (click)="templateModal.show({ value: 'Custom Modal Context' })">Display Simple Modal</ar-button>
  </ar-block>
</pg-example>


<ar-modal #simpleModal>
  <ng-container header>Modal header</ng-container>
  Modal Body
  <ng-container footer>Modal footer</ng-container>
</ar-modal>

<ar-modal #simpleModal2 [showFooter]="false" [config]="modalConfig">
  <ng-container header>
    <ar-modal-header>Modal Header</ar-modal-header>
  </ng-container>
  Modal Without footer
</ar-modal>

<ar-modal #templateModal [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" [footerTemplate]="footerTemplate">
  <ng-template #headerTemplate let-context>
    <div>Header from template.</div>
  </ng-template>
  <ng-template #bodyTemplate let-context>
    <div>Body from template.</div>
    <code>Context: {{  context | json }}</code>
  </ng-template>
  <ng-template #footerTemplate let-context>
    <div>Footer from template.</div>
  </ng-template>
</ar-modal>
