
:host {
  position: relative;
  display: block;
}

.hidden-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  opacity: 0;

  &:before {
    content: "|"
  }

  &:after {
    content: "|"
  }
}

.multiline {
  position: absolute;
  top: 0;
  bottom: 0;
}
