@import "../../../assets/bootstrap.env";

$custom-file-height-sm: $input-height-sm;
$custom-file-font-size-sm: $font-size-sm;
$custom-file-height-lg: $input-height-lg;
$custom-file-font-size-lg: $font-size-lg;

.remove-addon {
  cursor: pointer;
}

.custom-file-label {
  &:after {
    display: none;
  }
}

.custom-file {

  &-sm {
    height: $custom-file-height-sm;
    font-size: $custom-file-font-size-sm;

    .custom-file-label, .custom-file-input {
      height: $custom-file-height-sm;
      font-size: $custom-file-font-size-sm;
    }
  }

  &-lg {
    height: $custom-file-height-lg;
    font-size: $custom-file-font-size-lg;

    .custom-file-label, .custom-file-input {
      height: $custom-file-height-lg;
      font-size: $custom-file-font-size-lg;
    }
  }

}
