<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="@Input() bsSize">
    <div class="d-flex justify-content-between align-items-center">
      <ar-block *ngFor="let size of bsSize">
        <ar-icon [arBsSize]="size" arBorder="secondary" [arBorderRounded]="true" [name]="sampleIcon"></ar-icon>
        <small arBsTextContext="muted">{{size || 'default'}}</small>
      </ar-block>
    </div>
  </ar-block>

  <ar-block title="@Input() bsContext">
    <div class="d-flex justify-content-between align-items-center">
      <ar-block *ngFor="let context of bsContext">
        <ar-icon arBorder="secondary" [arBorderRounded]="true" [name]="sampleIcon" arBsSize="xl" [arBsContext]="context"></ar-icon>
        <small arBsTextContext="muted">{{context || 'default'}}</small>
      </ar-block>
    </div>
  </ar-block>
</pg-example>

<ar-block>
  <input class="form-control" [formControl]="filter" placeholder="Search" />
</ar-block>

<pg-icons-list-component (selectIcon)="sampleIcon = $event" [filter]="filterValue | async"></pg-icons-list-component>

