@import "../../../assets/animations";

.form-control {

  .form-control {
    border-color: transparent;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }

  input.form-control {
    padding: 0;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

}

.remove {
  cursor: pointer;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.4;
  &:after {
    content: " ";
    white-space: pre;
  }
}

.pending {
  @include spin();
}
