<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Core Pipes">
    <ar-table arTextAlign="center" [dark]="true">
      <ng-container header>
        <th>Pipe name</th>
        <th>Usage</th>
        <th>Working Example</th>
        <th>Description</th>
      </ng-container>
      <tbody arTextAlign="left">
        <tr>
          <td>arDictionary</td>
          <td>
            <pg-source-code [source]="'\{\{ dictionaryValue | arDictionary:\'DictionaryName\' | async \}\}'"></pg-source-code>
          </td>
          <td>
            {{ dictionaryPipeValue | arDictionary:dictionaryName | async }}
          </td>
          <td>
            Use for retrieve label from dictionary item by id. See <ar-inner-link url="/core/dictionary-service">Dictionary service</ar-inner-link>.
            dictionaryPipeValue - any value to find in dictionary, dictionaryName - dictionary key
          </td>
        </tr>

        <tr>
          <td>arTrim</td>
          <td>
            <pg-source-code [source]="'\{\{ trimValue | arTrim:\'TrimChars\':\'TrimMode\'\}\}'"></pg-source-code>
          </td>
          <td>
            <p>
              Trim Start: {{ trimValue | arTrim:'_- ':'start' }}
            </p>
            <p>
              Trim End: {{ trimValue | arTrim:'_- ':'end' }}
            </p>
            <p>
              Trim: {{ trimValue | arTrim:'_- ' }}
            </p>
          </td>
          <td>
            Provide lodash trim, trimStart, trimEnd functionality. trimValue - string value to trim, TrimChars - string list of chars to trim, TrimMode - 'start' | 'end'
          </td>
        </tr>

        <tr>
          <td>arTruncate</td>
          <td>
            <pg-source-code [source]="'\{\{ truncateValue | arTruncate:\'TruncateLength\'\}\}'"></pg-source-code>
          </td>
          <td>
            <p>
              Truncate 20: {{ truncateValue | arTruncate:20 }}
            </p>
            <p>
              Truncate (without len): {{ truncateValue | arTruncate }}
            </p>
          </td>
          <td>
            Provide lodash truncate functionality. TruncateLength - maximum size to truncate. Space char will use as separator.
          </td>
        </tr>
      </tbody>
    </ar-table>

  </ar-block>
</pg-example>
