<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-yes-no-select name="yesnoselect1"></ar-yes-no-select>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-yes-no-select name="yesnoselect2" size="3"></ar-yes-no-select>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-yes-no-select
         name="yesnoselect3"
         placeholder="Custom placeholder"
         yesLabel="Custom yes"
         noLabel="Custom No"
      ></ar-yes-no-select>
    </ar-form-group>
  </ar-form>
</pg-example>
