<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="Page Size">
    <ar-paging-list-size [size]="pagingSize" (onSizeChange)="pagingSize = $event"></ar-paging-list-size>
    <pre>Current Page size: {{ pagingSize }}</pre>
  </ar-block>

  <ar-block title="Pagination control">
    <ar-pagination [total]="30" [current]="currentPage" (onPageSelect)="currentPage = $event"></ar-pagination>
    <ar-pagination [total]="30" [current]="currentPage" (onPageSelect)="currentPage = $event" arBsSize="sm"></ar-pagination>
    <pre>Current Page: {{ currentPage }}</pre>
  </ar-block>

  <ar-block title="Pagination combined control">
    <ar-block>
      <ar-paging-control [paging]="pagingModel" (onChange)="setPage($event)" arBsSize="sm"></ar-paging-control>
    </ar-block>
    <ar-block>
      <ar-paging-control [paging]="pagingModel" (onChange)="setPage($event)" arBsSize="lg"></ar-paging-control>
    </ar-block>
    <pre>Paging model: {{ pagingModel | json }}</pre>
  </ar-block>

</pg-example>
