<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-checkbox>Single Checkbox</ar-checkbox>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-checkbox>Checkbox in group 1</ar-checkbox>
      <ar-checkbox>Checkbox in group 2</ar-checkbox>
      <ar-checkbox>Checkbox in group 3</ar-checkbox>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-checkbox [inline]="true">Checkbox inline group 1</ar-checkbox>
      <ar-checkbox [inline]="true">Checkbox inline group 2</ar-checkbox>
      <ar-checkbox [inline]="true">Checkbox inline group 3</ar-checkbox>
    </ar-form-group>
  </ar-form>
</pg-example>
