<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Static Tabs">
    <ar-tab-layout>
      <ar-tab title="Tab #1">
        Tab 1 content
      </ar-tab>
      <ar-tab title="Tab #2" [selected]="true">
        Tab 2 content
      </ar-tab>
      <ar-tab title="Tab #3">
        Tab 3 content
      </ar-tab>
    </ar-tab-layout>
  </ar-block>

  <ar-block title="Createable tabs">
    <ar-tab-layout #dynamicTabLayout>
      <ar-tab title="Static Tab">
        Tab 1 content
      </ar-tab>

      <ng-template #dynamicTabTemplate let-context let-tab="tab">
        <ar-tab [model]="tab">
          <div>Tab model: {{ tab.title }}</div>
          <div>TabContext: {{ context | json }}</div>
        </ar-tab>
      </ng-template>
    </ar-tab-layout>

    <button class="btn" arBsContext="primary" (click)="createNewTab(dynamicTabTemplate)">
      Create Tab
    </button>

    <button class="btn" arBsContext="primary" (click)="createNewTab(dynamicTabTemplate, true)">
      Create Tab with edited state
    </button>

  </ar-block>
</pg-example>
