<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block>
    <ar-table>
      <ng-container header>
        <th>Method</th>
        <th>Argument</th>
        <th>Result</th>
      </ng-container>
      <tbody>
        <tr>
          <td>stringify</td>
          <td>
            <pre>{{ sampleObject | json }}</pre>
          </td>
          <td>
            <pre>{{ queryOptionsBuilder.stringify(sampleObject) }}</pre>
          </td>
        </tr>
        <tr>
          <td>parse</td>
          <td>
            <pre>{{ "a=b&c%5B0%5D=d&c%5B1%5D=e%3Df&f%5B0%5D%5B0%5D=g&f%5B1%5D%5B0%5D=h" }}</pre>
          </td>
          <td>
            <pre>{{ queryOptionsBuilder.parse('a=b&c%5B0%5D=d&c%5B1%5D=e%3Df&f%5B0%5D%5B0%5D=g&f%5B1%5D%5B0%5D=h') | json }}</pre>
          </td>
        </tr>
        <tr>
          <td>createHttpParams</td>
          <td>
            <pre>{{ sampleObject | json }}</pre>
          </td>
          <td>
            <pre>{{ queryOptionsBuilder.createHttpParams(sampleObject).toString() }}</pre>
          </td>
        </tr>
      </tbody>
    </ar-table>
  </ar-block>

</pg-example>
