<pg-example [template]="templateSource" [code]="codeSource">

  <ar-block title="Sortable Table">
    <ar-table
      [defaultOrderBy]="currentOrder.orderBy"
      [defaultOrderDirection]="currentOrder.orderDirection"
      (order)="currentOrder = $event"
    >
      <ng-container header>
        <th>
          <span arTableHeader="header1">
            Header 1
          </span>
        </th>
        <th>
          <span arTableHeader="header2">
            Header 2
          </span>
        </th>
        <th>
          <span arTableHeader="header3">
            Header 3
          </span>
        </th>
        <th>
          <span arTableHeader="header4">
            Header 4
          </span>
        </th>
      </ng-container>
      <tbody>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      </tbody>
    </ar-table>

    <pre>Current Order: {{ currentOrder | json }}</pre>
  </ar-block>
</pg-example>
