@import "../../../assets/scroll";

.tab {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin-right: 5px;

  &.changed:before {
    content: '*';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    color: black;
    font-size: 14px;
  }

  &.active.changed:before {
    color: white;
  }
}

.nav-item {
  cursor: pointer;
}

.tab-links {
  @include scrollbar7();

  // display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.tab-link-inner {
  padding: 5px;
  font-size: 90%;

  &.active {
    &:hover {
      color: initial;
    }
  }
}

.content {
  &.has-notification {
    -webkit-filter: grayscale(50%) opacity(50%);
    filter: grayscale(50%) opacity(50%);

    &:before {
      content: " ";
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
    }
  }
}

.content-layout {
  position: relative;

  .notification {
    position: absolute;
    top: 30px;
    left: calc(50% - 150px);
  }
}

.content {
  position: relative;
}

.tab-link-inner {
  transition: all 0.3s ease-in;
}
