<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-textarea placeholder="Textarea control" [size]="10" name="textarea1"></ar-textarea>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-textarea placeholder="Textarea control (Resizable)" name="textarea2" [resize]="true"></ar-textarea>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-textarea placeholder="Textarea control (Multiline)" name="textarea3" [multiLine]="true"></ar-textarea>
    </ar-form-group>
  </ar-form>
</pg-example>
