@import "../../../assets/scroll";

$dropdown-padding: 5px;

.dropdown {

  &.full-width {
    .dropdown-menu-selector {
      display: block;
    }

    .dropdown-menu {
      width: 100%;
    }
  }

}

.dropdown-menu-selector {
  cursor: pointer;
  display: inline-block;

}

.dropdown-menu {
  @include scrollbar7();

  display: block;
  padding: $dropdown-padding;

  overflow-y: auto;
}

.dropup {
  .dropdown-menu {
    top: 0;
    transform: translate3d(0, -100%, 0);
  }
}
