<img *ngIf="hasTopImage" class="card-img-top" [src]="image?.src" [alt]="image?.alt">
<div class="card-header"
     [class.pointer]="collapsible"
     [hidden]="!showHeader"
     (click)="toggle()"
>
  <ng-content select="[header]"></ng-content>
</div>
<div [class.card-body]="!imageOverlay"
     [class.card-img-overlay]="imageOverlay"
     [class.scrollable]="height"
     [ngStyle]="{ 'max-height.px': height }"
     [@toggleServiceState]="toggleService.state"
>
  <ng-container *ngIf="cardContent">
    <h5 class="card-title">{{ cardContent?.title }}</h5>
    <h6 class="card-subtitle" arBsTextContext="muted">{{ cardContent?.subtitle }}</h6>
    <p class="card-text">{{ cardContent?.text }}</p>
  </ng-container>
  <ng-content></ng-content>
</div>
<div class="card-footer" arBsTextContext="muted" [hidden]="!showFooter">
  <ng-content select="[footer]"></ng-content>
</div>
<img *ngIf="hasBottomImage" class="card-img-top" [src]="image?.src" [alt]="image?.alt">
