<pg-example [template]="templateSource" [code]="codeSource">
  <ng-template #tableHeader>
    <th *ngFor="let value of tableValues">Header {{value}}</th>
  </ng-template>

  <ng-template #tableHeaderLarge>
    <th *ngFor="let value of tableValuesLarge">Header {{value}}</th>
  </ng-template>

  <ng-template #tableRow>
    <tr>
      <td *ngFor="let value of tableValues">Cell value {{value}}</td>
    </tr>
  </ng-template>

  <ng-template #tableRowLarge>
    <tr>
      <td *ngFor="let value of tableValuesLarge">Cell value {{value}}</td>
    </tr>
  </ng-template>

  <ar-block title="Base Usage">
    <ar-table>
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Dark Table" >
    <ar-table [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Decorate Header" >
    <ar-table arBsContext="dark">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
    <ar-table arBsContext="light">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Striped Table">
    <ar-table [striped]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
    <ar-table [striped]="true" [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Bordered Table">
    <ar-table [bordered]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
    <ar-table [bordered]="true" [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Hover Table">
    <ar-table [hover]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
    <ar-table [hover]="true" [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Small Table">
    <ar-table arBsSize="sm">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
    <ar-table arBsSize="sm" [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      <ng-container *ngTemplateOutlet="tableRow"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Contextual Rows" >
    <ar-table>
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <tr arRowContext="primary">
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      <tr arRowContext="warning">
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      <tr>
        <td arRowContext="info">Cell 1</td>
        <td arRowContext="danger">Cell 2</td>
        <td arRowContext="success">Cell 3</td>
        <td arRowContext="secondary">Cell 4</td>
      </tr>
      </tbody>
    </ar-table>
    <ar-table [dark]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
      </ng-container>
      <tbody>
      <tr arRowContext="primary">
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      <tr arRowContext="warning">
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>Cell 4</td>
      </tr>
      <tr>
        <td arRowContext="info">Cell 1</td>
        <td arRowContext="danger">Cell 2</td>
        <td arRowContext="success">Cell 3</td>
        <td arRowContext="secondary">Cell 4</td>
      </tr>
      </tbody>
    </ar-table>
  </ar-block>

  <ar-block title="Responsive">
    <ar-table [responsive]="true">
      <ng-container header>
        <ng-container *ngTemplateOutlet="tableHeaderLarge"></ng-container>
      </ng-container>
      <tbody>
      <ng-container *ngTemplateOutlet="tableRowLarge"></ng-container>
      <ng-container *ngTemplateOutlet="tableRowLarge"></ng-container>
      <ng-container *ngTemplateOutlet="tableRowLarge"></ng-container>
      <ng-container *ngTemplateOutlet="tableRowLarge"></ng-container>
      <ng-container *ngTemplateOutlet="tableRowLarge"></ng-container>
      </tbody>
    </ar-table>
  </ar-block>
</pg-example>
