@import "../../../assets/bootstrap.env";

@import "~bootstrap/scss/mixins/_breakpoints.scss";

:host {
  &.card-columns {
    display: block;
  }
  /*@include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }*/
}
