<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-autocomplete-dictionary [dictionary]="dictionaryKey"></ar-autocomplete-dictionary>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-autocomplete-dictionary [dictionary]="dictionaryKey"></ar-autocomplete-dictionary>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-autocomplete-dictionary [dictionary]="dictionaryKey"></ar-autocomplete-dictionary>
    </ar-form-group>
  </ar-form>

  <ar-block>
    For all properties overview see <ar-inner-link url="/forms/autocomplete">Autocomplete Component</ar-inner-link>
  </ar-block>
</pg-example>
