
:host {
  display: inline-block;
}

svg {
  width: 1em;
  height: 1.1em;
  fill: #aeaeae;

  &.active {
    &:not(.asc) {
      #DownArrow {
        fill: #000;
      }
    }

    &.asc {
      #UpArrow {
        fill: #000;
      }
    }
  }
}