<pg-example [template]="templateSource" [code]="codeSource">
  <ar-block title="Inner Link">
    <ar-inner-link url="/" arBsTextContext="success">Inner link</ar-inner-link>
  </ar-block>

  <ar-block title="Outer Link">
    <ar-outer-link url="angular.io" arBsTextContext="success">Outer link</ar-outer-link>
  </ar-block>

  <ar-block title="Email Link">
    <ar-mail-link email="sample@mail.loc"></ar-mail-link>
  </ar-block>
</pg-example>
