<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-form-group arBsSize="sm" label="Small">
      <ar-select-multiple [options]="options" name="multiselect1" [size]="8"></ar-select-multiple>
    </ar-form-group>
    <ar-form-group arBsSize  label="Regular">
      <ar-select-multiple [options]="options" name="multiselect2"></ar-select-multiple>
    </ar-form-group>
    <ar-form-group arBsSize="lg" label="Large">
      <ar-select-multiple
                        [list]="['list option 1', 'list option 2', 'list option 3']"
                        name="multiselect3"
      ></ar-select-multiple>
    </ar-form-group>
  </ar-form>

  <ar-block title="Options">
    <pre arBsBgContext="dark">{{ options | json }}</pre>
  </ar-block>
</pg-example>
