<pg-example [template]="templateSource" [code]="codeSource">
  <ar-form id="form">
    <ar-block title="Basic options">
      <ar-form-group arBsSize="sm" label="Small">
        <ar-autocomplete
          placeholder="Autocomplete"
          [searchFunction]="searchFn"
          name="autocomplete1"
        ></ar-autocomplete>
      </ar-form-group>
      <ar-form-group arBsSize label="Regular">
        <ar-autocomplete
          [searchFunction]="searchFn"
          name="autocomplete2"
          noResultText="Custom placeholder for not found options"
        ></ar-autocomplete>
      </ar-form-group>
      <ar-form-group arBsSize="lg" label="Large">
        <ar-autocomplete
          [searchFunction]="searchFn"
          name="autocomplete3"
          [keyUpDelay]="2000"
          placeholder="Custom keyup timeout 2000ms"
        ></ar-autocomplete>
      </ar-form-group>
    </ar-block>

    <ar-block title="Additional usage">
      <ar-form-group arBsSize="sm" label="Custom Option Render Template">
        <ar-autocomplete
          [optionTemplate]="optionTemplate"
          [searchFunction]="searchFn"
          name="autocomplete4"
        ></ar-autocomplete>
        <ar-form-text>SelectOptionInterface object will be send to template as default data</ar-form-text>
      </ar-form-group>
      <ar-form-group arBsSize="sm" label="Custom Option Render Template">
        <ar-autocomplete
          [optionTemplate]="optionTemplate"
          [searchFunction]="searchFn"
          [defaultOption]="initialOption"
          [control]="control"
          [dropUp]="true"
          name="autocomplete4"
        ></ar-autocomplete>
        <ar-form-text>SelectOptionInterface object will be send to template as default data</ar-form-text>
      </ar-form-group>
    </ar-block>
  </ar-form>

  <pre>Latest Query: {{ lastQuery }}</pre>
</pg-example>

<ng-template #optionTemplate let-option>
  <div>{{ option?.label }}</div>
  <ar-form-text>{{ option?.extendedData?.message }}</ar-form-text>
</ng-template>
