@import "../../../assets/bootstrap.env";

$wizard-header-margin: 0.5rem !default;
$wizard-content-padding: 0.5rem !default;

$header-size-map: (
  'xl': 1.5rem,
  'lg': 1.3rem,
  'md': 1.1rem,
  'xs': 1.0rem,
  'sm': 0.8rem
);

.header {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: $wizard-header-margin;

  &__content {
    display: block;
    cursor: pointer;
    padding: 0 24px;
  }

  &__line {
    flex: auto;
    height: 0;
    margin: 0 -16px;
    min-width: 32px;
    border-top: 1px solid rgba(0, 0, 0, .12);
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      .header__line {
        border-top-color: rgba($value, 0.5);
      }
    }
  }

  @each $size, $value in $header-size-map {
    &-#{$size} {
      .header__content {
        font-size: $value;
      }
    }
  }
}

.content {
  padding: $wizard-content-padding;
  overflow: hidden;

  &__step {
    &[aria-expanded=false] {
      height: 0;
      overflow: hidden;
    }
  }
}
