<div class="header" arBsSize arBsContext *ngIf="displayHeader">
  <ng-container *ngFor="let step of _steps; let i = index; let isLast = last">
    <ar-wizard-header
      class="header__content"
      (click)="step.select()"
      [id]="_getStepLabelId(i)"
      [attr.aria-controls]="_getStepContentId(i)"
      [attr.aria-selected]="selectedIndex == i"
      [state]="_getIndicatorType(i)"
      [active]="selectedIndex == i"
    >
          <span class="font-weight-light">
            {{ step.label }}
          </span>
    </ar-wizard-header>
    <div class="header__line" *ngIf="!isLast"></div>
  </ng-container>
</div>
<div class="content">
  <div *ngFor="let step of _steps; let i = index"
       [id]="_getStepContentId(i)"
       [attr.aria-labelledby]="_getStepLabelId(i)"
       role="tabpanel"
       [@stepTransition]="_getAnimationDirection(i)"
       class="content__step"
       [attr.aria-expanded]="selectedIndex === i">
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
  </div>
</div>
