@keyframes spinner {
  to {transform: rotate(360deg);}
}

$size: 50px;

:host {
  position: relative;
  display: block;
  min-height: 80px;
}

.spinner {
  z-index: 1;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  margin-top: -$size / 2;
  margin-left: -$size / 2;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

.layout {
  filter: grayscale(100%);
}